body {
  background-color: #fefefe;
  font-family: sans-serif;
  color: #2b2b2b;
}

h2 {
  text-align: center;
}

form {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dedede;
}

input,
button {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  font-size: inherit;
  color: inherit;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

p {
  color: #adadad;
  text-align: center;
  word-break: break-all;
}
